#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* setting some basic variables for colors referenced */
:root{
  main-white: seashell;
  main-red: crimson;
  main-blue: darkturquoise;
  main-gray: lightgray;
}

/* reset the margins */
*{
  margin:0;
  padding:0;
}

/* inherit box sizing */
*,*::before,*::after{
  box-sizing:inherit;
}

/* change html scroll behavior and font size  */
html{
  box-sizing:border-box;
  font-size:65%;
  scroll-behavior:smooth;
}

/* regulate the media size & font size with em so everything is relative.*/  
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* nav bar  :)!!!!*/
.nav {
  display:flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  background: var(main-red);
}

.nav-list{
  display:flex;
}

.nav-list a:hover{
  background: var(main-blue);
}

/* intro section */
.intro-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*Projects section*/
.photos-section{
  text-align:center;
  background:var(main-blue);
}

/* some empty properties for experimenting*/
.photos-section-header{

}

@media () {
  .photos-section-header{
    
  }
}

-projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px));
  grid-gap: 5em;
}

@media () {
  .photos-section{

  }
  .photos-grid{
  
  }
}