#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/* setting some basic variables for colors referenced */
:root{
  main-white: seashell;
  main-red: crimson;
  main-blue: darkturquoise;
  main-gray: lightgray;
}

/* reset the margins */
*{
  margin:0;
  padding:0;
}

/* some basic settings */
*,*::before,*::after{
  box-sizing:inherit;
}

html{
  box-sizing:border-box;
  font-size:65%;
  scroll-behavior:smooth;
}

/* regulate the media size & font size with em so everything is relative */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 29m) {
  html {
    font-size: 55%;
  }
}


